<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="Default" value="${specialfolder:folder=ApplicationData}/BAGIS" />
  <targets>
    <target name="logfile" xsi:type="File"
            filename="${gdc:AoiLogFolder:whenEmpty=Default}/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"
            encoding="utf-8"
            maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576"
            />
    <target name="debugger" xsi:type="Debugger" layout="${callsite:className=False:methodName=True}:${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>

<!-- Log levels: Trace, Debug, Info, Warn, Error, Fatal -->